#a{
    width: 810px;
    margin-bottom: 10px;
}
#container2{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.c{
    width: 200px;
}
.e{
    width: 620px;

}
.f {
    width: 170px;
    height: 410px;
    float: right;
    margin-right: 710px;

}
h1{
    text-align: center;
    padding-top: 50px;

}
.h-200{
    height: 200px;
}
.bac{
    background: #ff006a;
}