#con1{
    display: block;

}
header{
    width: 877px;
    height: 100px;
    background: #ff006a;
    margin-left:10px ;
}
#post{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}
#a{
    display: flex;
}
.a {
    width: 640px;
    height: 430px;
    background: #ff006a;
    margin-left: 10px;
}
.c{
    width: 225px;
    height:430px;
    background: #ff006a;
    display: block;
}

footer{
    width: 877px;
    height: 100px;
    background: #ff006a;
    margin-left:10px ;
    display: none;
}
@media screen  and (min-width: 0px) and (max-width: 1535px) {
    #con1 {
        display: block;

    }

    header {
        width: 640px;
        height: 100px;
        background: #ff006a;
        margin-left: 10px;
    }

    #post {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
    }

    #a {
        display: flex;
    }

    .a {
        width: 640px;
        height: 430px;
        background: #ff006a;
        margin-left: 10px;
    }

    .c {
        width: 225px;
        height: 430px;
        background: #ff006a;
        display: none;
    }

    footer {
        width: 640px;
        height: 100px;
        background: #ff006a;
        margin-left: 10px;
        margin-top: 10px;
        display: block;
    }
}