#a{
    width: 810px;

}
#container2{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.c{
    width: 200px;
}
.e{
    width: 620px;
    height: 420px;

}
.f {
    width: 170px;
    height: 420px;
    float: right;
    margin-right: 710px;
    margin-top: 20px;

}
#f2{
    width: 810px;
    display: none;

}
h1{
    text-align: center;
    padding-top: 50px;

}
.h-200{
    height: 200px;
}
.bac{
    background: #ff006a;
}


@media screen  and (min-width: 0px) and (max-width: 1535px) {

    #a{
        width: 810px;

    }
    #f2{
        width: 810px;
        display: block;

    }
    #container2{
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .e{
        width: 810px;
        height: 420px;

    }

    h1{
        text-align: center;
        padding-top: 50px;

    }
    .h-200{
        height: 200px;
    }
    .bac{
        background: #ff006a;
    }
    .f {
        width: 170px;
        height: 420px;
        float: right;
        margin-right: 710px;
        margin-top: 20px;
        display: none;
    }
}