#target{
    width: 810px;
    height: 200px;
    background: lightpink;
    margin-bottom: 10px;
}



#container2{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.c{
    width: 200px;
    height: 200px;
    background: deeppink;
}

.d{
    width: 200px;
    height: 200px;
    background: deeppink;
}

.e {
    width: 200px;
    height: 200px;
    background: deeppink;
}
.q{
    width: 200px;
    height: 200px;
    background: deeppink;
}

.w{
    width: 200px;
    height: 200px;
    background: deeppink;
}

.t{
    width: 200px;
    height: 200px;
    background: deeppink;
}

.f {
    width: 170px;
    height: 420px;
    background: hotpink;
    float: right;
    margin-right: 710px;

}
h1{
    text-align: center;
    padding-top: 50px;

}

