.target{
    width: 400px;
    height: 200px;
    background: #9e9e9e;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: tan -20px -20px 30px 10px;;
}
.txt{
    width: 300px;
    padding-left: 20px;
    border-left: 4px solid red;
    margin-left: 100px;
}