
header{
    width: 877px;
    height: 100px;
    background: #ff006a;
    margin-left:10px ;
}
#post{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.a{
    width: 200px;
    height: 200px;
    background: #ff006a;
margin: 10px;
}
.c{
width: 200px;
height:420px;
background: #ff006a;
    display: block;
}

footer{
    width: 877px;
    height: 100px;
    background: #ff006a;
    margin-left:10px ;
    display: none;
}
@media screen  and (min-width: 0px) and (max-width: 1535px) {

    header{
        width: 675px;
        height: 100px;
        background: #ff006a;
        margin-left:10px ;
    }
    #post{
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
    }

    .a{
        width: 200px;
        height: 200px;
        background: #ff006a;
        margin: 10px;
    }
    .c{
        width: 200px;
        height:420px;
        background: #ff006a;
        display: none;
    }

    footer{
        width: 675px;
        height: 100px;
        background: #ff006a;
        margin-left:10px ;
        display: block;
    }
}