body{
}

.cube1{
    width: 300px;
    height: 300px;
    background: yellow;
    margin: 50px;
    box-shadow: #464646 20px 30px 1px 1px;

}

.cube2{
    width: 300px;
    height: 300px;
    background: blue;
    margin: 50px;
    box-shadow: #464646 20px 30px 10px 1px;


}

.cube3{
    width: 300px;
    height: 300px;
    background: #ff006a;
    margin: 50px;
    box-shadow: #464646 20px 40px 10px 10px;


}

.cube4{
    width: 300px;
    height: 300px;
    margin: 50px;
    background: #00ff15;
    box-shadow: #9e9e9e 20px 30px 20px 10px;
}

.cube5{
    width: 300px;
    height: 300px;
    background: #dd00ff;
    margin: 50px;
    border-radius: 10px;
    box-shadow: #464646 20px 30px 10px 10px;


}

.cube6{
    width: 300px;
    height: 300px;
    background: yellow;
    margin: 50px;
    border-radius: 10px;
    box-shadow: #9e9e9e 20px 30px 10px 10px;

}
