
#target1 {
    width: 620px;
    height: 300px;
    background: #ff3e3e;

}

#target2 {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.a{
    width: 200px;
    height: 200px;
    background: #ff006a;
}

h1{
text-align: center;
padding-top: 50px;

}
