.target{
    color: #ffffff;
    background: #882726;
    padding-left: 600px;
}
.target2 {
    background: #bfbfbf;
    height: 100px;
    padding-top: 10px;

}
.tatget3{
    background: #6394eb;
    padding-top: 50px;
    padding-bottom: 20px;
}