body{
    margin: 0;
}
header{
    height: 200px;
    background: #08172f;
}
#post{
    margin-top: 10px;
}
#all{
    display: flex;
}
.min{
    width: 200px;
    height: 500px;
    background: #9e9e9e;
}
.cont{
    background: #4a4a9a;
    height: 100px;
    margin-left: 210px;
}
